* {
  background-color: #a6f2d4;
  color: #6026a6;
  margin: 10px;
  padding: 10px;
}
:root {
  --off-white: rgba(250, 250, 250, 1);
  --white: rgba(253, 253, 253, 1);
  --primary-text: rgba(26, 26, 46, 1);
  --placeholder-text: rgba(107, 114, 128, 1);
  --invalid: rgba(255, 0, 0);
  --valid: rgba(0, 255, 0);
  --transparent: rgba(0, 0, 0, 0);
  --white-shadow: rgba(216, 216, 216, 0.44);
  --grey-shadow: rgba(40, 40, 40, 0.4);
}
body {
  background-color: var(--off-white);
  color: var(--primary-text);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
aside {
  display: flex;
  flex-flow: column;
  color: var(--white);
  a {
    color: var(--white);
  }
  div {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-shadow);
  }
  .row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background-color: var(--transparent);
    color: var(--white);
  }
  background-image: url("./vacuum-aside-background.jpg");
  h1 {
    display: inherit;
    color: var(--white);
    font-size: 2rem;
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--transparent);
    justify-content: center;
    align-content: center;
  }
  :where(h1) {
    margin-block: 0.67em;
    font-size: 2em;
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
  }
  p {
    background-color: var(--transparent);
  }
  img {
    background-color: var(--transparent);
  }
}
h1 {
  font-size: 2rem;
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}
:where(h1) {
  margin-block: 0.67em;
  font-size: 2em;
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-size: 1.8rem;
}
p,
em {
  background-color: inherit;
  color: var(--primary-text);
}
em {
  font-style: italic;
}
form {
  background-color: var(--white);
  /* border: 2px inset black; */
  box-shadow: 0px 0px 4px 4px var(--white-shadow);
}
legend,
label,
input {
  background-color: inherit;
  color: var(--primary-text);
}
input {
  border: 2px solid var(--white-shadow);
}
input:user-invalid {
  border: 2px solid var(--invalid);
}
input:valid {
  border: 2px solid var(--valid);
}

::placeholder {
  color: var(--placeholder-text);
}

fieldset {
  background-color: inherit;
  border: none;
}
button {
  background-color: #596d48;
  color: var(--off-white);
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
  padding: 12px 18px;
  border-radius: 4px;
}
button:hover {
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.44);
}

a {
  /* color: var(--white); */
  background-color: var(--transparent);
}
